#menu_list {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  transform: translate(-50%, -50%);
  background-color: #b3b3b3;
  z-index: 3;
}
#menu_list p {
  margin-top: 60px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'MullerLight', sans-serif;
}
#menu_list button {
  float: right;
  margin: 30px 30px 0px 0px;
}
#close_menu{
  /* display: block; */
  background-image: url(../img/close.svg);
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 3;
}
#goto{
  display:none;
  position:fixed;
  right:30px;
  bottom:30px;
  z-index: 5;
  cursor: pointer;
  }