.radius, .wrapper_targeting .trades .trade a, .wrapper_development .trades .trade a, .wrapper_menu .r_side {
  border-radius: 50px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cacaca;
}

.wrapper_menu {
  width: 80%;
  height: auto;
  padding: 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.wrapper_menu .l_side, .wrapper_menu .r_side {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.wrapper_menu .r_side {
  background-color: #ffffff;
  padding: 0px 15px;
  cursor: pointer;
}
.wrapper_menu .l_side img {
  width: 50px;
  height: auto;
}
.wrapper_menu .l_side span, .wrapper_menu .r_side a, .wrapper_menu span {
  margin: 0px 20px;
  font-family: MullerLight, sans-serif;
  font-size: 18px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.wrapper_main {
  width: 80%;
  height: auto;
  padding: 150px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.wrapper_main .l_side h1 {
  font-size: 55px;
  margin-bottom: 40px;
  line-height: 62px;
  font-family: MullerExtraBold, sans-serif;
  color: #2d2d2d;
}
.wrapper_main .l_side h3 {
  margin: 40px 0px;
  font-size: 24px;
  text-transform: uppercase;
  font-family: MullerLight, sans-serif;
  color: #b3b3b3;
}
.wrapper_main .r_side img {
  width: 500px;
}

.wrapper_service {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.wrapper_service .name_block {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.wrapper_service .name_block h1 {
  font-family: MullerExtraBold, sans-serif;
  font-size: 45px;
  z-index: 2;
  background: #ffffff;
}
.wrapper_service .name_block h1 span {
  display: inline-block;
  padding-right: 50px;
  background: #fff;
  color: #2d2d2d;
}
.wrapper_service .name_block h1::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #25a667;
  height: 8px;
  z-index: -1;
}
.wrapper_service .title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.wrapper_service .title p {
  font-family: MullerExtraBold, sans-serif;
  font-size: 24px;
  margin-left: 10px;
  color: #2d2d2d;
}
.wrapper_service .services {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 100px 0px;
}
.wrapper_service .site, .wrapper_service .target {
  width: 50%;
}
.wrapper_service .site img, .wrapper_service .target img {
  height: 50px;
  width: auto;
}
.wrapper_service ul {
  padding-left: 80px;
  list-style: disc;
  color: #25a667;
  font-size: 25px;
}
.wrapper_service li span {
  font-family: MullerLight, sans-serif;
  color: #b3b3b3;
}

.grey_wrapper {
  width: 100%;
  background: #f7f7f7;
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper_contact {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.wrapper_contact .name_block {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.wrapper_contact .name_block h1 {
  font-family: MullerExtraBold, sans-serif;
  font-size: 45px;
  z-index: 2;
}
.wrapper_contact .name_block h1 span {
  display: inline-block;
  padding-right: 50px;
  background: #f7f7f7;
  color: #2d2d2d;
}
.wrapper_contact .name_block h1::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #25a667;
  height: 8px;
  z-index: -1;
}
.wrapper_contact .l_side, .wrapper_contact .r_side {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.wrapper_contact .l_side p, .wrapper_contact .r_side p {
  font-family: MullerLight, sans-serif;
  color: #b3b3b3;
  font-size: 18px;
  margin-bottom: 5px;
}
.wrapper_contact .l_side p img, .wrapper_contact .r_side p img {
  height: 18px;
  width: auto;
}
.wrapper_contact .l_side a, .wrapper_contact .r_side a {
  font-family: MullerLight, sans-serif;
  color: #2d2d2d;
  font-size: 24px;
}
.wrapper_contact .point {
  margin-bottom: 29px;
}

.wrapper_advantages {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.wrapper_advantages .name_block {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.wrapper_advantages .name_block h1 {
  font-family: MullerExtraBold, sans-serif;
  font-size: 45px;
  z-index: 2;
}
.wrapper_advantages .name_block h1 span {
  display: inline-block;
  padding-right: 50px;
  background: #f7f7f7;
  color: #2d2d2d;
}
.wrapper_advantages .name_block h1::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #25a667;
  height: 8px;
  z-index: -1;
}
.wrapper_advantages .advantages {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.wrapper_advantages .advantages .advantage {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 50px 0px;
}
.wrapper_advantages .advantages img {
  width: 120px;
  height: auto;
  z-index: 4;
  padding-right: 20px;
}
.wrapper_advantages .advantages .adv_text {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.wrapper_advantages .advantages .adv_text span {
  font-family: MullerExtraBold, sans-serif;
  font-size: 24px;
}
.wrapper_advantages .advantages .adv_text p {
  font-family: MullerLight, sans-serif;
  font-size: 18px;
}

.wrapper_development {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 100px 0px;
}
.wrapper_development .name_block {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.wrapper_development .name_block h1 {
  font-family: MullerExtraBold, sans-serif;
  font-size: 45px;
  z-index: 2;
}
.wrapper_development .name_block h1 span {
  display: inline-block;
  padding-right: 50px;
  background: #ffffff;
  color: #2d2d2d;
}
.wrapper_development .name_block h1::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #25a667;
  height: 8px;
  z-index: -1;
}
.wrapper_development .trades {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.wrapper_development .trades .trade {
  width: 25%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 25px;
  border: 1px #2d2d2d solid;
}
.wrapper_development .trades .trade span {
  font-family: MullerExtraBold, sans-serif;
  font-size: 28px;
  text-align: center;
}
.wrapper_development .trades .trade p {
  font-family: MullerLight, sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}
.wrapper_development .trades .trade a {
  width: 70%;
  height: auto;
  padding: 20px 5px;
  text-align: center;
  font-family: MullerLight, sans-serif;
  font-size: 18px;
  color: #ffffff;
  background-color: #25a667;
}

.wrapper_targeting {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 100px 0px;
}
.wrapper_targeting .name_block {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.wrapper_targeting .name_block h1 {
  font-family: MullerExtraBold, sans-serif;
  font-size: 45px;
  z-index: 2;
}
.wrapper_targeting .name_block h1 span {
  display: inline-block;
  padding-right: 50px;
  background: #ffffff;
  color: #2d2d2d;
}
.wrapper_targeting .name_block h1::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #25a667;
  height: 8px;
  z-index: -1;
}
.wrapper_targeting .trades {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.wrapper_targeting .trades .trade {
  width: 45%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 25px;
  border: 1px #2d2d2d solid;
}
.wrapper_targeting .trades .trade span {
  font-family: MullerExtraBold, sans-serif;
  font-size: 28px;
  text-align: center;
}
.wrapper_targeting .trades .trade p {
  font-family: MullerLight, sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}
.wrapper_targeting .trades .trade a {
  width: 70%;
  height: auto;
  padding: 20px 5px;
  text-align: center;
  font-family: MullerLight, sans-serif;
  font-size: 18px;
  color: #ffffff;
  background-color: #25a667;
}

/*# sourceMappingURL=style.css.map */
