@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

$ubuntu : 'Ubuntu', 'Arial', sans-serif;

// colors
$blue       : #393e6b;
$green      : #2cd3b8;
$grey       : #eff4f4;
$white      : #ffffff;
$text       : #74757b;
// font-weight
$regular    : 400;
$bold       : 700;
